.ally {
  background-image: url(../img/ocean.jpeg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 300px;
}
.headtext {
  text-align: center;

}
#surf {
  font-size: 70px;
  padding-top: 20px;
  color: white;
}
.allypad {
  padding: 0;
}
.par {
  height: 300px;
}/*this class just changes height for the boxes need to take off at the end*/

div {
  border: solid 3px
}
#search {
  margin-right: 0px;
}
.demo {
    background: url(../img/ally.jpeg) no-repeat center center ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}/* Adds small picture in circle*/
#litword {
  padding-left: 0px;
  padding-right: 0px;
}
#litword {
  padding-left: 0px;
  padding-right: 0px;
}
.grayout {
  opacity: 0.6;
}/*adds gray to text */
#linenopad {
  padding-bottom: 0px;
  margin-bottom: 0px;
}/* take off bottom padding to line about Woah*/
.field {
  background: url(https://unsplash.it/272/272?random) ;
  height: 272px;
  width: 272px;
}
.makemegray {
  background-color: #A2B5C1;
}
.makemeblue {
  background-color: #106EAE;
}
